anyio==4.12.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
et_xmlfile==2.0.0
Flask==3.1.2
flask-cors==6.0.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
numpy==2.3.5
openpyxl==3.1.5
pandas==2.3.3
pillow==12.1.1
PyJWT==2.10.1
pymongo==4.15.4
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytz==2025.2
roman==5.2
six==1.17.0
starlette==0.50.0
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.4
